.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: auto;
  padding: 0 10px;
  padding-bottom: 75px;
}

.container > div:last-child {
  margin-bottom: 20px;
}

.container h3 {
  margin-top: 10px;
  font-size: 1.2rem;
}

.products {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  flex-wrap: wrap;
}