.layer {
    --initialLayerPosition: calc(var(--layerPosition) + 200px);

    position: absolute;
    bottom: var(--initialLayerPosition);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    height: 118px;
    width: 316px;
    box-sizing: content-box;

    opacity: 0;
    background-color: brown;
    border-radius: 60px;
    margin: 2px 0px;
    animation: layerDown var(--layerTiming) cubic-bezier(.44,.04,.97,.03) forwards;
}

@keyframes layerDown {
    0% {bottom: var(--initialLayerPosition); height: 140px;}
    60% {opacity: 0; height: 80px;}
    90% {opacity: 1; bottom: var(--layerPosition);}
    100% {opacity: 1; bottom: var(--layerPosition); height: 118px;}
}