.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
}

.container > div:last-child > div:first-child {
    padding-bottom: calc(var(--HeaderHeigth) + var(--FooterHeigth));
}

.subNavbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--darkBrown);
    width: 100%;
}

.navLinks {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 900px;
}

.navLinks a {
    color: var(--lightBrown);
    text-shadow: none;
    line-height: 30px;
    transition: 0.3s;
}

.activeProducts, .subNavbar a:hover {
    color: var(--lightPink) !important;
}

.products {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: auto;
}