.container {
  --clocheHeight: 150px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.cloche {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 250px;
  height: var(--clocheHeight);
  box-shadow: inset 0 0 40px 0px rgba(66,66,66,0.5);
  border-radius: 125px 125px 0px 0px;

  opacity: 0;
  bottom: 200px;
  animation: clocheDown 1.3s cubic-bezier(.44,.04,.97,.03) forwards;
}

@keyframes clocheDown {
  60% {opacity: 0;}
  100% {opacity: 1; bottom: 0px;}
}

.cloche::before {
  position: absolute;
  bottom: var(--clocheHeight);
  content: "";
  height: 20px;
  width: 40px;
  box-shadow: inset 0 0 15px 0px rgba(66,66,66,0.5);
  border-radius: 10px;
}

.logo {
  position: absolute;
  bottom: 200px;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0 20px 0;
  animation: logoDown 1s cubic-bezier(.44,.04,.97,.03) forwards;
  cursor: pointer;
  width: 100%;
}

@keyframes logoDown {
  60% {opacity: 0;}
  100% {opacity: 1; bottom: 0px;}
}

.shadow {
  width: 180px;
  height: 110px;
  background: rgba(255,255,255,0.7);
  box-shadow: 0 0 10px 10px rgba(255,255,255,0.7);
  transition: 0.3s;
  border-radius: 100px 100px 50px 50px;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    width: 180px;
    background: rgba(255,255,255,0.7);
    box-shadow: 0 0 10px 10px rgba(255,255,255,0.7);
  }
  50% {
    width: 160px;
    background: rgba(255,255,255,0.6);
    box-shadow: 0 0 10px 10px rgba(255,255,255,0.6);
  }
  100% {
    width: 180px;
    background: rgba(255,255,255,0.7);
    box-shadow: 0 0 10px 10px rgba(255,255,255,0.7);
  }
}

.logo img {
  position: absolute;
  top: -20px;
}
  
.layers {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: var(--clocheHeight);
}