.container {
  display: flex;
  flex-direction: row;
  justify-content: stretch !important;
  align-items: center;
  background-color: #E9D5D9;
  border: 2px solid var(--darkBrown);
  border-radius: 10px;
  width: 90%;
  max-width: 1000px;
  height: 90%;
  padding: 10px;
  gap: 10px;

  opacity: 0;
  transform: scale(0.8);
  animation: scaleUp 0.3s forwards;
}

@keyframes scaleUp {
  to {
      opacity: 1;
      transform: scale(1.0);
  }
}

.image {
  width: 50%;
  height: 100%;
  border: 2px solid var(--darkBrown);
  border-radius: 10px;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  gap: 5px;
}

.description .image {
  width: 100%;
}

.description h3 {
  text-shadow: 1px 1px 5px white;
  color: var(--darkPink);
  font-size: 1rem;
  text-align: center;
}

.description p, .description label {
  text-align: justify;
}

.sizes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.prices {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container .price {
  text-shadow: 1px 1px 5px white;
  color: var(--darkCyan);
}

.select select, .select option {
  width: auto;
  max-width: 210px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.75rem;
  line-height: 16px;
}

@media (max-width: 58rem) {
  .description .image {
    display: none;
  }
  .description {
    height: auto;
  }
}

@media (max-width: 42rem) {
  .container {
    flex-direction: column;
    max-height: 600px;
    gap: 5px;
    width: 100%;
    height: 100%;
  }
  .image {
    width: 100%;
    height: 100%;
  }
  .description {
    width: 100%;
    gap: 5px;
  }
}

@media (max-height: 27rem) {
  .container {
    flex-direction: row;
  }
}

@media (max-width: 58rem) {
  .description p, .description label, .options select, .options option {
    font-size: 0.75rem;
  }
}

@media (max-width: 21rem), (max-height: 21rem) {
  .description {
    gap: 0;
  }
  .description h3, span {    
    line-height: 1.5rem;
    font-size: 0.75rem;
  }
  .description p, .description label, .options select, .options option {
    font-size: 0.625rem;
  }
}