.products {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 10px;
}

.order {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 25px;
  margin-bottom: 10px;
}

.form, .payment, .deliveryAddress {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 25px;
}

.price {
  font-size: 1.25rem;
  height: 32px;
  text-align: end;
  margin-top: 0px;
}

.price span {
  font-size: 1.5rem;
  color: var(--darkCyan);
}

@media (max-width: 42rem) {
  .order {
    flex-direction: column;
    justify-content: center;
  }
  .form, .payment, .deliveryAddress {
    justify-content: flex-end;
    width: 280px;
  }
}