.container, .container img {
    width: 100%;
    height: calc(var(--mainHeightWeb) - 60px);
    /* height: var(--mainHeightWeb); */
    object-fit: cover;
    overflow: hidden;
}

/* @media (max-width: 58rem) {
    .container, .container img {
        height: var(--mainHeightMobile);
    }
} */