.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 60px;
    /* background: rgba(127,105,91,0.6);
    border-top: 2px solid rgba(127,105,91);
    border-bottom: 2px solid rgba(127,105,91); */
    background-color: rgba(218,185,191);
    border-top: 3px solid rgba(86,63,57);
    border-bottom: 3px solid rgba(86,63,57);
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    width: 100%;
    max-width: 600px;
}

.navLink {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 20px;
    transition: 0.3s;
    height: 26px;
    vertical-align: middle;
}

.navLink span {
    color: #efe1e3;
    text-shadow: 1px 1px 5px black;
}

.navLink:hover, .activePage {
    background: rgba(239,225,227,0.8);
    box-shadow: 0 0 10px 10px rgba(239,225,227,0.8);
}

.navLink:hover span, .activePage span, .activePage svg>*, .navLink:hover svg>* {
    color: #4f4245;
    text-shadow: 1px 1px 5px white;
    stroke: #4f4245;
}

.icon {
    width: 20px;
    height: 20px;
    margin-bottom: 5px;
}

.activePage svg, .navLink:hover svg {
    fill: #4f4245;
}

@media (max-width: 23rem) {
    .icon {display: none}
}


.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.logo img {
    position: absolute;
}

.shadow {
    transition: 0.3s;
}

.logo:hover .shadow {
    position: absolute;
    z-index: 0;
    width: 60px;
    height: 60px;
    border-radius: 30px;  
    background: rgba(239,225,227,0.7);
    box-shadow: 0 0 10px 10px rgba(239,225,227,0.7);
}