.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 60px;
    padding: 0px 20px;
    background-color: rgba(86,63,57);
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
    cursor: pointer;
}

/* .shadow {
    position: absolute;
    z-index: -1;
    width: 60px;
    height: 60px;
    border-radius: 30px;  
    background: rgba(239,225,227,0.7);
    box-shadow: 0 0 10px 10px rgba(239,225,227,0.7);
} */

.log img {
    position: absolute;
}

.navLink {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: #efe1e3;
    text-shadow: 1px 1px 5px black;
    border-radius: 20px;
    transition: 0.3s;
}

.navLink:hover, .navLink:hover, .activePage {
    color: #3c2e31;
    text-shadow: 1px 1px 5px white;
    background: rgba(239,225,227,0.8);
    box-shadow: 0 0 10px 10px rgba(239,225,227,0.8);
}

/* .icon {
    width: 20px;
    height: 20px;
    fill: #424242;
}

.activePage svg {
    fill: #dedede;
} */