.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(86,63,57);
  width: 100vw;
  height: 15px;
  z-index: 1;
}

.footer a {
  color: #795d62;
  text-shadow: 1px 1px 5px black;
  font-size: 0.5rem;
}