.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(127,105,91);
  width: 100vw;
  height: 15px;
}

.footer p {
  color: #4c3f36;
  font-size: 0.5rem;
}