@import url('https://fonts.googleapis.com/css2?family=Coiny&display=swap');

*, *:after, *:before {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  
	margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-weight: 300;
  box-sizing: border-box;
  font-family: 'Coiny', cursive;
	font-size: 16px;
  vertical-align: middle;
  color: var(--darkBrown);
  text-shadow: 1px 1px 5px white;
}

body {
  --mainHeightWeb: calc(100vh - 75px);
  --mainWidthWeb: 100vw;
  --mainHeightMobile: calc(100vh - 75px - 85px);
  --mainWidthWeb: 100vw;

  --darkBrown: rgba(86,63,57);
  --lightBrown: rgba(127,105,91);
  --darkPink: #f14670;
  --mediumPink: rgba(218,185,191);
  --lightPink: rgba(239,225,227);
  --darkCyan: #4fbcaf;

  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  background-color: var(--darkBrown);
}

code {
  font-family: monospace;
}

a {
	text-decoration: none;
}

label {
  -webkit-user-select: initial;
  -khtml-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial;
}

input {
  -webkit-user-select: initial;
  -khtml-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial;
  appearance: none;
}

button {
  background-color: transparent;
  cursor: pointer;
}

ul {
	list-style:none;
}

img {
	max-width: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: -1;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: url('/src/assets/backgrounds/bg-main-bolos-rosa.png') no-repeat;
  background-position: center right;
  background-size: cover;
  height: var(--mainHeightWeb);
  width: var(--mainWidthWeb);
  overflow: hidden;
  z-index: 0;
}

@media (max-width: 58rem) {
  main {height: var(--mainHeightMobile);}
}

h2 {
  font-size: 1.4rem;
  margin: 10px 0px 5px 0px;
  text-align: center;
}

.animeLeft {
  opacity: 0;
  transform: translateX(calc(-100vw * 0.2));
  animation: animeLeft .3s forwards;
}

@keyframes animeLeft {
  to{
      opacity: 1;
      transform: initial;
  }
}

.slick-dots {
  bottom: 20px !important;
  height: auto;
}

.slick-next {
  right: 10px !important;
}

.slick-prev {
  left: 10px !important;
  z-index: 10;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  overflow: auto;
  padding: 10px 20px;
}