@import url('https://fonts.googleapis.com/css2?family=Coiny&display=swap');

*, *:after, *:before {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  
	margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-weight: 300;
  box-sizing: border-box;
  font-family: 'Coiny', cursive;
	font-size: 16px;
  color: #513e41;
  text-shadow: 1px 1px 5px white;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
}

code {
  font-family: monospace;
}

a {
	text-decoration: none;
}

label {
  -webkit-user-select: initial;
  -khtml-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial;
}

input {
  -webkit-user-select: initial;
  -khtml-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial;
  appearance: none;
}

button {
  background-color: transparent;
  cursor: pointer;
}

ul {
	list-style:none;
}

img {
	max-width: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(203,156,164, 0.3);
  height: calc(100vh - 75px);
  width: 100vw;
  overflow: hidden;
}

main::after {
  background: url('/src/assets/backgrounds/bg_bolos_festivos_vertical.jpeg') no-repeat;
  background-position: center right;
  background-size: cover;
  content: ' ';
  display: block;
  position: absolute;
  z-index: -10;
  top: 0; 
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0.4;
}

h2 {
  font-size: 1.4rem;
  margin-top: 20px;
  margin-bottom: 10px;
}

.animeLeft {
  opacity: 0;
  transform: translateX(calc(-100vw * 0.2));
  animation: animeLeft .3s forwards;
}

@keyframes animeLeft {
  to{
      opacity: 1;
      transform: initial;
  }
}

.slick-dots {
  bottom: 20px !important;
  height: auto;
}

.slick-next {
  right: 10px !important;
}

.slick-prev {
  left: 10px !important;
  z-index: 10;
}