.datePicker {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.datePicker label {
  margin-right: 10px;
}

.datePicker input {
  background-color: transparent;
  max-width: 100%;
}
