.wrapper {
  display: flex;
  position: relative;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.input {
  border: 1px solid var(--mediumPink);
  font-size: 1rem;
  padding: 2px 5px;
  border-radius: 5px;
  background: var(--lightPink);
  transition: 0.2s;
  width: 180px;
  height: 32px;
}

.input:focus, .input:hover {
  outline: none;
  border-color: var(--darkCyan);
  background: white;
  box-shadow: 0 0 0 3px var(--lightCyan)
}

input:-internal-autofill-selected {
  background-color: var(--lightPink) !important;
}

.error {
  position: absolute;
  margin-top: 50px;
  color: #f31;
  font-size: 0.75rem;
}